.purple-background,.sky{
	background-color: #161748;
}

.homepage-spacer{
	background: rgb(22,23,72);
    background: linear-gradient(90deg, rgba(22,23,72,1) 0%, rgba(14,1,36,1) 100%);
}

.homepage-name-block .title, .homepage-name-block .subtitle{
	
		color:white !important;
	
}