.purple-background,.sky{
	background-color: #161748;
}

.homepage-spacer{
	background: rgb(22,23,72);
    background: linear-gradient(90deg, rgba(22,23,72,1) 0%, rgba(14,1,36,.7) 100%);
}

.homepage-name-block .title, .homepage-name-block .subtitle{
	
		color:white !important;
	
}


.is-pink{
	background-color:#fea49f;
}

.past-work{
	background-color:#b5706c;
}
.past-work:hover{
background-color: #9a5f5b;
}

.footer,.navbar.is-dark{
	background-color:#131313;
	color:white;
}

.footer a, #past-projects .title, #past-projects .subtitle{
	color:white;
}

.footer a:hover{
	color:#fea49f;
}

#past-projects{
    background: #161748;
    color: white;
}

.hero.is-success {
    background-color: #007f4f;
    color: #fff;
}
.hero.is-info {
    background-color: #00a0a0;
    color: #fff;
}

section.is-contact{
	background-color: #161748;
}

section.is-contact a{
	color:white;
}

.is-fixed-top{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
body{
	margin-top:50px;
}